.chatSide {
  flex: 1;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
}
.bg-image {
  height: 100%;
  background-size: cover;
  z-index: 1;
}
.chat-desk {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}
/*select a chat div*/
.off {
  display: none;
}
/*chat typing text*/
.writing-text-div {
  width: 100%;
  height: 50px;
  border-top: 1px solid #1f212c;
  background-color: #17181e;
  position: absolute;
  z-index: 3;
  display: flex;
  padding: 10px;
  align-items: center;
  bottom: 0px;
}
.writing-text-div form {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}
.disable {
  pointer-events: none;
}
.text-mess-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  font-size: 14px;
  outline: none;
  border: none;
}
/*mess box*/
.message-disk {
  overflow: auto;
  height: calc(100% - 105px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message-disk::-webkit-scrollbar {
  width: 5px;
}
.year-month-date {
  color: white;
  border-radius: 8px;
  background-color: var(--low-opacity-bg);
  padding: 2px 40px;
  margin: 40px auto;
  width: fit-content;
  text-align: center;
}
.message-disk::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 5px;
}

.message-disk::-webkit-scrollbar-thumb {
  background-color: var(--light-border);
  border-radius: 50px;
}
.message-disk::-webkit-scrollbar-thumb:hover {
  background-color: #32384d;
}
.mess-box-container {
  width: 100%;
}
.curr-user-mess-container {
  direction: rtl;
}
.mess-box {
  padding: 7px;
  border-radius: 10px;
  color: white;
  width: fit-content;
  justify-content: space-between;
  max-width: 70%;
  flex-wrap: wrap;
  font-size: 15px;
  word-break: break-all;
  margin: 5px 0px;
  display: flex;
  border: 1px solid var(--light-border);
  background-color: var(--bg-color);
}
.curr-user-mess {
  background-color: var(--main-color-dark);
  direction: ltr;
  position: relative;
  border: 1px solid var(--main-color-border);
}
.curr-user-mess span > span {
  color: var(--main-color-light) !important;
}
.write-time {
  width: 60px;
  flex: 1;
  position: relative;
}
.write-time span {
  font-size: 12px;
  color: var(--dark-color) !important;
  position: absolute;
  line-height: 5px;
  right: -1px;
  bottom: -1px;
  /* margin-top: auto; */
  /* margin-left: 10px; */
}
