/*contact side header*/
.contactSide {
  width: 30%;
  height: 100vh;
  overflow: hidden;
  transition: 0.2s;
  border-right: 1px solid var(--strong-border);
  background-color: var(--bg-color);
}
.contactSide header {
  width: 100%;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
}
.bars-icon {
  margin-right: 10px;
  font-size: 20px;
  color: var(--lighter-border);
  cursor: pointer;
  transition: 0.1s;
}
.bars-icon:hover {
  color: #535a73;
}
.contactSide header input {
  flex: 1;
  border-radius: 4px;
  border: 1px solid var(--lighter-border);
  outline: none;
  color: white;
  padding: 5px;
  background-color: var(--layer2-bg);
}
.contact-side-menu {
  width: 100%;
  background-color: var(--lighter-bg);
  display: flex;
  font-size: small;
}
.contact-side-menu p {
  transition: 0.2s;
  color: var(--dark-color);
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}
.active-menu-item {
  background-color: var(--layer2-bg) !important;
  width: fit-content;
  cursor: auto !important;
}
.contact-side-menu-p:hover {
  color: var(--dark-color-hover);
}
/*contact side body*/
.no-search-result {
  text-align: center;
  color: var(--dark-color);
  padding: 10px;
}
.contact-list {
  width: 100%;
  padding-top: 5px;
}
/*contact menu item*/
