.sideMenu {
  position: absolute;
  width: 260px;
  top: 0px;
  z-index: 20;
  left: 0px;
  color: var(--white-text);
  background-color: var(--bg-color);
  height: 100vh;
  transition: 0.2s;
  border-right: 1px solid var(--strong-border);
}
.sideMenu-leave {
  left: -260px;
}
.sideMenu-header {
  padding: 20px;
  border-bottom: 1px solid #292e41;
}
.sideMenu-header p {
  font-weight: bold;
}
.sideMenu-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sideMenu-header div {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.sideMenu-header div button {
  cursor: pointer;
  padding: 2px 9px;
  color: var(--main-color);
  border-radius: 10px;
  font-size: medium;
  border: 1px solid var(--main-color-border);
  background-color: transparent;
  transition: 0.1s;
}
.sideMenu-header div button:hover {
  background-color: var(--dark-color-hover);
}
.sideMenu-header div p {
  margin-left: 3px;
}
.pageWrapper {
  width: 100vw !important;
  left: 0vw;
  position: absolute;
  top: 0px;
  height: 100vh !important;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
/*side-menu-content*/
.side-menu-content {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.side-menu-item {
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
  gap: 10px;
  color: var(--light-color);
  padding: 20px;
}
.side-menu-item p {
  font-size: 14px;
  font-weight: 400;
}
.side-menu-item span {
  margin-top: 5px;
}
.side-menu-item:hover {
  background-color: var(--dark-color-hover);
  color: var(--main-color);
}
