@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}
img {
  object-fit: cover;
}
.hide {
  display: none;
}
.show {
  display: block !important ;
}
.link {
  text-decoration: none;
  color: #e2e2e2;
}
:root {
  --bg-color: #17181e;
  --strong-border: #1f212c;
  --light-border: #292e41;
  --light-color: #696f85;
  --white-text: #e2e2e2;
  --dark-color: #3e4561;
  --dark-color-hover: #646b87;
  --light-color-hover: #707997;
  --lighter-bg: #1d202d;
  --layer2-bg: #292e41;
  --main-color: #2294a0;
  --main-color-hover: #20b2c2;
}
