.contactItem {
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.selectedLable {
  width: 100%;
  height: 60px;
  background-color: var(--main-color-dark);
  padding: 5px;
  align-items: center;
  display: flex;
}
.selectedLable .last-mess-time {
  color: white !important;
}
.selectedLable .user-lastMess {
  color: white !important;
}
.contactRadio {
  display: none;
}
.contactItem:hover {
  background-color: var(--dark-color-hover);
}
.contactItem img,
.selectedLable img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-small-info {
  color: white;
  position: relative;
  padding: 0px 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-userName {
  line-height: 20px;
}
.user-lastMess {
  font-size: 13px;
  color: var(--light-color);
}
.last-mess-time {
  position: absolute;
  top: 0px;
  font-size: 12px;
  right: 0px;
  color: var(--light-color);
}
